In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

import matplotlib
import matplotlib.pyplot as plt

import joblib

import os

SEED = 42

In [2]:
DATASET_DIR = '../Dataset'

# Attribute Information:


|Variable|Type|Definition                                         |Key                                           |
|--------|---|---------------------------------------------------|----------------------------------------------|
|age     |Continuous|Person age in years                               |                                              |
|workclass     |Categorical|Category of person work                                        |Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked                        |
|fnlwgt      |Continuous| Final weight. In other words, this is the number of people the census believes the entry represents                                  ||
|education|Categorical|Education degree|Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool                                              |
|education-num    |Continuous|                         |                                              |
|marital-status     |Categorical|                  |Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.|
|occupation |Categorical|Resting electrocardiographic results               |Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.|
|relationship |Categorical|                |Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.                                              |
|race   |Categorical|                            |White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.|
|sex |Categorical||Female, Male                                              |
|capital-gain   |Continuous| |    |
|capital-loss      |Continuous||                                              |
|hours-per-week    |Continuous|                               ||
|native-country  |Categorical||United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.|
|salary|Categorical||<=50K; >50K|

In [3]:
COLUMNS = ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

NUMERICAL_COLS = ['age', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed']

CATEGORICAL_COLS = ['job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'poutcome']

TARGET_COLUMN = 'y'

In [4]:
df = pd.read_csv(os.path.join(DATASET_DIR, 'bank-additional-full.csv'), sep=';')
df = df.drop('duration', axis=1)
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
df[TARGET_COLUMN] = df[TARGET_COLUMN].replace({'no': 0, 'yes': 1})

## Split train / validation

In [6]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=5000, random_state=SEED)

In [7]:
for train_index, test_index in sss.split(df.drop(TARGET_COLUMN, axis=1), df[TARGET_COLUMN]):
    train_df = df.iloc[train_index]
    dev_df = df.iloc[test_index]

## Save data

In [8]:
ds_info = {
    'columns': COLUMNS,
    'categorical_columns': CATEGORICAL_COLS,
    'numerical_columns': NUMERICAL_COLS,
    'target_column': TARGET_COLUMN
}

In [9]:
_ = joblib.dump(ds_info, os.path.join(DATASET_DIR, 'ds_info.jl'))

In [10]:
train_df.to_csv(os.path.join(DATASET_DIR, 'n_train.csv'))
dev_df.to_csv(os.path.join(DATASET_DIR, 'n_dev.csv'))